.contact-bar {
    color: #fff;
    padding: 20px 10px;
    display: flex;
    flex-direction: column; /* Change from row to column */
    align-items: center; /* Align items vertically centered */
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 50px 50px 0;
    white-space: nowrap;
    border: none;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    position: fixed;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
}

.contact-bar.hidden {
    transform: translate(-100%, -50%);
}

.contact-icons {
    display: flex;
    flex-direction: column; /* Stack icons vertically */
    gap: 20px;
    align-items: center;
}

.nav-social-icon {
    font-size: 15px;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.nav-social-icon:hover {
    color: #adadad;
}


.toggle-button {
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
    cursor: pointer;
    left: 0%;
    top: 90%;
    transform: translateY(-50%);
    border-radius: 0 50px 50px 0;
    white-space: nowrap;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    position: fixed;
    z-index: 9999;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.contact-bar-container {
    position: relative;
    &:hover .toggle-button {
        opacity: 1;
    }
}

.button-container.visible .toggle-button {
    opacity: 1;
}

@keyframes arrow-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.toggle-button.animating i {
    animation: arrow-animation 0.3s ease-in-out;
}