.submenu {
  width: "";
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  line-height: 0.9;
  z-index: 1;
  background-color: rgba(31, 31, 31, 0.8);
  box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 5px;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  border-width: 0 13px 10px 13px;
  border-color: transparent transparent rgba(31, 31, 31, 0.8) transparent;
  border-style: solid;
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
}

.submenu li a {
  font-weight: 500;
  cursor: pointer;
}

.submenu li a:hover {
  color: rgb(142, 142, 142);
}

.submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 16px 30px 16px 0;
}