
.Microsoft-water-spill-repair-info-container {
    width: 70%;
    margin: 4rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
  }

.Microsoft-water-spill-repair-content{
    width: 80%; /* Setting width for the content */
    margin: 0 auto; /* Centering the content */
    padding: 5rem 0 8rem 0;
}

  
  .Microsoft-water-spill-repair-info-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #a9a9a9;
    margin: 2rem 0;
  }
  
  .Microsoft-water-spill-repair-info-table-row {
    border: 1px solid #a9a9a9;
  }
  
  .Microsoft-water-spill-repair-info-table-header-cell {
    padding: 1rem;
    border: 1px solid #d1d1d1;
    color: #333;
    font-size: 0.9rem;
  }
  
  .Microsoft-water-spill-repair-info-table-cell {
    padding: 1rem 0.5rem;
    border: 1px solid #d1d1d1;
    color: #333;
    font-size: 0.9rem;
  }
  
   
.Microsoft-water-spill-repair-info-title {
      font-size: 1.6rem;
      font-weight: 600;
      color: #1b436e;
}
  
.Microsoft-water-spill-repair-info-text {
        color: #333;
        font-weight: 400;
        line-height: 1.8rem;
}