.modal {
  position: absolute;
  top: 190px; /* Adjust the distance from the price description */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 1); /* semi-transparent background */
  padding: 20px;
  border-radius: 20px;
  display: hidden; /* Initially hidden */
  height: 36.5rem;
  width: 95%;
}

.price-section:hover .modal {
  display: block; /* Display when active */
}

.modal-content {
  padding-top: 20px;
  width: 88%;
  color: #fff;
  background-color: rgba(0, 0, 0, 1); 
  text-align: center;
  margin: 0 auto;
  line-height: 1.8rem;
}

.price-section__description {
  cursor: pointer; /* Change cursor to pointer on hover */
  color: #000000;
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Add smooth transition */
}

.modal-btn {
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.3s; 
}

.modal-btn:hover {
  color: #2b6cb0;
}