.builds-main-container {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background: linear-gradient(
        to bottom,
        #1b436e,
        rgb(6, 6, 6) /* White */
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#ffffff', /* White */
        endColorstr='#f0f0f0', /* Dark White */
        GradientType=0 /* Vertical gradient */
    );
    
    .builds-section__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.1rem;
    color: #ffffff;
    }

    .builds-section__subtitle {
    text-align: center;
    font-size: 1.05rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    }
}

.builds-swiper {
    width: 798px;
}

.builds-card {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1), /* White */
        #ebf5ff /* Dark White */
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#ffffff', /* White */
        endColorstr='#f0f0f0', /* Dark White */
        GradientType=0 /* Vertical gradient */
    );
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    text-align: center;
}

.builds-img-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.builds-img {
    width: 79%;
    object-fit: cover;
}

@import url('https://fonts.cdnfonts.com/css/evogria?styles=15178');

.builds-name {
    font-weight: 600;
    padding: 0 0.5rem;
    text-align: center;
    font-family: 'Evogria', sans-serif;                                            
    font-size: 3.125em;
    margin-top: 20px;
    line-height: 1;
    color: #333;
}


.builds-price-section__title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #333;
    width: 100%;
    text-align: center;
    margin: 0;
}
  
  .builds-price-section__price {
    font-size: 1.7rem;
    color: #333;
    font-family: 'Evogria', sans-serif; 
    font-weight: 600;
  }
  
  .builds-price-section-description {
    font-size: 0.93rem;
    color: #333;
    span {
        font-weight: 700; // Ensure span elements inside are bold
      }
  }


  .builds-progress-bars {
    margin: 0 0 1rem 0;
  }
  
.builds-button.builds-button-view-build {
    padding: 0.5rem 1rem;
    background-color: #2b6cb0;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    border: 1px solid rgba(98, 98, 98, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
    cursor: pointer;
    transition: background-color 0.3s ease; 
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
}
  
.builds-button.builds-button-view-build:hover {
    background-color: #1b436e;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: rgb(209, 209, 209) !important;
}

.swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255) !important;
}


