.cyber-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  
  .cyber-header-content {
    width: 50%;
    padding: 5rem 3.5rem 1.5rem 3.5rem;
    margin-top: 1rem;
  }
  
  .cyber-header-img{
  width: 50%;
  }
  
  .cyber-header-image {
  height: 95vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .cyber-header-title {
    font-size: 3.2rem; /* 36px */
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .cyber-header-des {
    font-size: 1.05rem; /* 18px */
    font-weight: 300;
    line-height: 1.75rem; /* 28px */
   
  }
  
  .cyber-header-button {
    background-color: #2b6cb0;
    color: #fff;
    font-weight: 400;
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid #2b6cb0;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  
  }
  
  .cyber-header-button:hover {
    background-color: #1b436e; 
    border: 1px solid #1b436e;
  }

  /*Steps Header*/
  .cyber-timeline-header-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 6rem;
  }
  
  .cyber-timeline-header-content {
    max-width: 72rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .cyber-timeline-header-text {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
  }

  .cyber-timeline-header-title-one {
    text-align: end;
    font-size: 1.875rem;
    font-weight: 700;
    color: #a1a1aa;
  }
  
.cyber-timeline-header-title-two {
    text-align: start;
    font-size: 1.875rem;
    font-weight: 700;
    color: #2b6cb0;
}

.cyber-timeline-header-description-one {
  margin-top: 0.5rem;
  text-align: end;
}

.cyber-timeline-header-description-two {
  margin-top: 0.5rem;
  text-align: start;
}

  

/*Steps component*/

.cyber-timeline-components {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center; /* Center horizontally */
  align-items: stretch; /* Center vertically */
  width: 100%; /* Optional: set a max-width */
  margin: 0 auto; /* Center the grid container */
}

.steps-wrapper-uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 2rem 0.5rem 2rem 12rem; /* py-8 px-4 */
}

.steps-wrapper-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 2rem 12rem 2rem 0.5rem; /* py-8 px-4 */
}

.steps-content-uno {
  position: relative;
  width: 39rem; /* max-w-4xl */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-content-two {
  position: relative;
  width: 39rem; /* max-w-4xl */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-line-container-uno {
  position: absolute;
  right: 17.6%; /* Adjust left position as needed */
  top: 11%;
  bottom: 0;
  width: 0.2rem; /* w-1 */
  background-color: #b1d7ff;
  border-width: 4px; /* border-4 */
  border: 1px solid #b1d7ff; /* border-blue-500 */
  align-items: center;
  height: 560px;
}

.steps-line-container-two {
  position: absolute;
  left: 17.6%; /* Adjust left position as needed */
  top: 11%;
  bottom: 0;
  width: 0.2rem; /* w-1 */
  background-color: #b1d7ff;
  border-width: 4px; /* border-4 */
  border: 1px solid #b1d7ff; /* border-blue-500 */
  align-items: center;
  height: 610px;
}

.steps-line-uno {
  position: absolute;
  width: 2px; /* Adjust as needed */
  background-color: #2b6cb0;
  border-color: #2b6cb0; 
}

.steps-line-two {
  position: absolute;
  width: 2px; /* Adjust as needed */
  background-color: #2b6cb0; 
  border-color: #2b6cb0;
}

.step-container-uno {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.step-container-two {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.step-icon-uno {
  position: absolute; 
  right: 14%;
  width: 3rem; /* w-6 */
  height: 3rem; /* h-6 */
  border-radius: 50%; /* rounded-full */
  background-color: #b1d7ff;
  color: #fff;
  border-width: 4px; /* border-4 */
  border: 1px solid #b1d7ff; /* border-blue-500 */
  display: flex;
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  transition: background-color 0.3s ease, border-color 0.3s ease-in-out;
  z-index: 2; /* Smooth transition */
}

.step-icon-two {
  position: absolute;
  left: 14%;
  width: 3rem; /* w-6 */
  height: 3rem; /* h-6 */
  border-radius: 50%; /* rounded-full */
  background-color: #b1d7ff;
  color: #fff;
  border-width: 4px; /* border-4 */
  border: 1px solid #b1d7ff; /* border-blue-500 */
  display: flex;
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  transition: background-color 0.3s ease, border-color 0.3s ease-in-out;
  z-index: 2;
}


.step-content-container-uno {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 10rem; /* Adjust margin-left to create space for the icon */
}

.step-content-container-two {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10rem; /* Adjust margin-left to create space for the icon */
}

.step-content-uno {
  background-color: #ffffff; 
  opacity: 0.5; 
  position: relative; 
  padding: 1.7rem 2.4rem;
  width: 100%;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.step-content-two {
  background-color: #ffffff; 
  opacity: 0.5; 
  position: relative;
  padding: 1.7rem 2.4rem; 
  width: 100%;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.step-content-uno::before {
  content: '';
  position: absolute;
  right: -1rem; /* Adjust to position the arrow */
  top: 50%;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-top: .8rem solid transparent;
  border-bottom: .8rem solid transparent;
  border-left: .8rem solid #2b6cb0; /* Same color as the background */
}

.step-content-two::before {
  content: '';
  position: absolute;
  left: -1rem; /* Adjust to position the arrow */
  top: 50%;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-top: .8rem solid transparent;
  border-bottom: .8rem solid transparent;
  border-right: .8rem solid #2b6cb0; /* Same color as the background */
}

.step-title-uno {
  color: #2b6cb0; /* text-blue-600 */
  font-weight: 400; /* font-semibold */
  text-align: end;
  font-size: 1.1rem;
  margin: 0;
}

.step-title-two {
  color: #2b6cb0; /* text-blue-600 */
  font-weight: 400; /* font-semibold */
  text-align: start;
  font-size: 1.1rem;
  margin: 0;
}

.step-description-uno {
  text-align: end;
  color: #333;
}

.step-description-two {
  color: #333;
}


.step-subtitle-uno {
  text-align: end;
  font-size: 1.15rem;
  font-weight: 600;
  color: #1b436e;
  margin: 0;
}

.step-subtitle-dos {
  font-size: 1.15rem;
  font-weight: 600;
  color: #1b436e;
  margin: 0;
}

.highlight .step-icon-uno {
background-color: #2b6cb0;
border-color: #2b6cb0;
}

.highlight .step-icon-two {
  background-color: #2b6cb0;
  border-color: #2b6cb0;
}

.highlight .step-content-uno {
  opacity: 1;
}

.highlight .step-content-two {
    opacity: 1;
}


    