.supported-equip-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0 1rem 0;
    background: #ffffff;
}

.supported-equip-title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #333;
    margin-bottom: 2rem;
    text-align: center;
  }

.supported-equip-logos {
    overflow: hidden;
    padding-bottom: 2rem;
    background: #ffffff;
    white-space: nowrap;
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  
  .supported-equip-logos:before,
  .supported-equip-logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .supported-equip-logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  }
  
  .supported-equip-logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  }
  
  .supported-equip-logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .supported-equip-logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .supported-equip-logos-slide img {
    height: 55px;
    margin: 0 40px;
    width: 107px;
    object-fit: cover;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  