.IPhone-data-recovery-repair-info-container {
    width: 70%;
    margin: 4rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
  }

.IPhone-data-recovery-repair-content{
    width: 80%; /* Setting width for the content */
    margin: 0 auto; /* Centering the content */
    padding: 6.5rem 0 9rem 0;
}
  
  .IPhone-data-recovery-repair-info-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #a9a9a9;
  }
  
  .IPhone-data-recovery-repair-info-table-row {
    border: 1px solid #a9a9a9;
  }
  
  .IPhone-data-recovery-repair-info-table-header-cell {
    padding: 1rem;
    border: 1px solid #d1d1d1;
    color: #333;
    font-size: 0.9rem;
  }
  
  .IPhone-data-recovery-repair-info-table-cell {
    padding: 1rem 0.5rem;
    border: 1px solid #d1d1d1;
    color: #333;
    font-size: 0.9rem;
  }
  
  .IPhone-data-recovery-repair-info-description {
    margin-top: 1.5rem;
  }
  
  .IPhone-data-recovery-repair-info-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #1b436e;
    padding-top: 1.5rem;
  }
  
  .IPhone-data-recovery-repair-info-text {
    margin-top: 0.5rem;
    color: #333;
    font-weight: 300;
  }


/*Data Price Container*/

.IPhone-data-recovery-container {
    padding: 4.5rem 0 1.5rem 0;
  }

  
  .IPhone-data-recovery-content {
    width: 95%;
    margin: 0 auto;
    padding: 1rem 2rem 1.5rem 2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    border: 2px solid #1b436e;
  }
  
  .IPhone-data-recovery-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: #1b436e;
  }
  
  .IPhone-data-recovery-section {
    display: flex;
    justify-content: space-between;
  }
  
  .IPhone-data-recovery-service {
    font-weight: 600;
    font-size: 1.05rem;
    color: #1b436e;
    padding-right: .8rem;
  
  }
  
  .IPhone-data-recovery-pricing {
    padding-left: .8rem;
  }
  
  .IPhone-data-recovery-des {
    margin-top: 3.5rem;
  }
  
  .IPhone-data-recovery-price-des{
    font-weight: 300;
    font-size: 13.5px;
    color: #939393;
    padding-bottom: .7rem;
  }
  
  .IPhone-data-recovery-dot {
    font-weight: 300;
    color: #000000;
  }
  