.MessengerRepairContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  
  .MessengerRepairsContent {
    width: 50%;
    padding: 5rem 3.5rem 1.5rem 3.5rem;
    margin-top: 1rem;
  }
  
  .MessengerRepairsImg{
  width: 50%;
  }
  
  .MessengerImg {
  height: 95vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .MessengerRepairsTitle {
    font-size: 3.2rem; /* 36px */
    font-weight: 700;
    margin-bottom: 1rem;
  
  }
  
  .MessengerRepairsDes {
    font-size: 1.05rem; /* 18px */
    font-weight: 300;
    line-height: 1.75rem; /* 28px */
   
  }
  
  .MessengerRepairsButton {
    background-color: #2b6cb0;
    color: #fff;
    font-weight: 400;
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid #2b6cb0;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  
  }
  
  .MessengerRepairsButton:hover {
    background-color: #1b436e; 
    border: 1px solid #1b436e;
  }

/*Messenger Pricing*/

.MessengerContentContainer {
  display: flex;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem 7rem;
  background-color: #f4f4f5; /* Equivalent to bg-zinc-100 */
}

.MessengerSection {
  width: 50%;
  padding: 2rem;
}

.MessengerTitle {
  font-size: 1.7rem; /* Equivalent to text-2xl */
  font-weight: 400;
  color: #27272a; 
  line-height: 2.2rem;
}

.MessengerContent {
  color: #52525b;
  line-height: 1.7rem;
}

.MessengerPriceContainer {
  width: 50%;
  padding: 1rem;
  margin-top: 1.5rem; /* Equivalent to mt-6 */
}

.MessengerPrice {
  background-color: #3b82f6;
  height: 375px; 
  width: 450px;
  color: #ffffff; /* Equivalent to text-white */
  padding: 1.5rem; /* Equivalent to p-6 */
  border-radius: 2rem; /* Equivalent to rounded-lg */
  border-width: 3px; /* Equivalent to border-2 */
  border-style: dashed; /* Equivalent to border-dashed */
  border-color: #282828; /* Equivalent to border-zinc-300 */
  margin-left: 3rem;
}

.MessengerTitleTwo {
  font-size: 1.8rem; /* Equivalent to text-xl */
  font-weight: bold;
  margin-bottom: 0.5rem; 
  width: 90%;
  text-align: center;
  margin: 1.5rem auto;
  padding: 1rem 1rem 0 1rem;
}

.MessengerContentTwo {
  font-weight: 600;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.5rem;
  padding: 0 1rem 1rem 1rem;
  width: 75%;
}
