.MessengerRepairContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  
  .MessengerRepairsContent {
    width: 50%;
    padding: 5rem 3.5rem 1.5rem 3.5rem;
    margin-top: 1rem;
  }
  
  .MessengerRepairsImg{
  width: 50%;
  }
  
  .MessengerImg {
  height: 95vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .MessengerRepairsTitle {
    font-size: 3.2rem; /* 36px */
    font-weight: 700;
    margin-bottom: 1rem;
  
  }
  
  .MessengerRepairsDes {
    font-size: 1.05rem; /* 18px */
    font-weight: 300;
    line-height: 1.75rem; /* 28px */
   
  }
  
  .MessengerRepairsButton {
    background-color: #2b6cb0;
    color: #fff;
    font-weight: 400;
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid #2b6cb0;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  
  }
  
  .MessengerRepairsButton:hover {
    background-color: #1b436e; 
    border: 1px solid #1b436e;
  }

/*Messenger Pricing*/

.MessengerContentContainer {
  display: flex;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem 7rem;
  background-color: #f4f4f5; /* Equivalent to bg-zinc-100 */
}

.MessengerSection {
  width: 50%;
  padding: 2rem;
}

.MessengerTitle {
  font-size: 1.7rem; /* Equivalent to text-2xl */
  font-weight: 400;
  color: #27272a; 
  line-height: 2.2rem;
}

.MessengerContent {
  color: #52525b;
  line-height: 1.7rem;
}

.MessengerPriceContainer {
  width: 50%;
  padding: 1rem;
  margin-top: 1.5rem; /* Equivalent to mt-6 */
}

.MessengerPrice {
  background-color: #2b6cb0;
  height: 375px; 
  width: 450px;
  color: #ffffff; /* Equivalent to text-white */
  padding: 1.5rem; /* Equivalent to p-6 */
  border-radius: 2rem; /* Equivalent to rounded-lg */
  border-width: 3px; /* Equivalent to border-2 */
  border-style: dashed; /* Equivalent to border-dashed */
  border-color: #282828; /* Equivalent to border-zinc-300 */
  margin-left: 3rem;
}

.MessengerTitleTwo {
  font-size: 1.8rem; /* Equivalent to text-xl */
  font-weight: bold;
  margin-bottom: 0.5rem; 
  width: 90%;
  text-align: center;
  margin: 1.5rem auto;
  padding: 1rem 1rem 0 1rem;
}

.MessengerContentTwo {
  font-weight: 600;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.5rem;
  padding: 0 1rem 1rem 1rem;
  width: 75%;
}


/*Your Services Include*/
.MessengerServicesContainer {
  background-color: #f4f4f5;
}


.MessengerServicesItems {
  padding: 6rem 1rem; 
  width: 83%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .MessengerServicesItems {
    padding-left: 1.5rem; // Equivalent to sm:px-6
    padding-right: 1.5rem; // Equivalent to sm:px-6
  }
}

@media (min-width: 1024px) {
  .MessengerServicesItems {
    padding-left: 2rem; // Equivalent to lg:px-8
    padding-right: 2rem; // Equivalent to lg:px-8
  }
}

.MessengerServicesTitle {
  font-size: 1.8rem; 
  font-weight: 700; 
  text-align: center;
  color: #333; 
  margin-bottom: 4rem; 
}


.MessengerServicesCards {
  display: grid; // Equivalent to grid
  grid-gap: 4rem; 
}

@media (min-width: 640px) {
  .MessengerServicesCards {
    grid-template-columns: repeat(1, minmax(0, 1fr)); // Equivalent to sm:grid-cols-1
  }
}

@media (min-width: 768px) {
  .MessengerServicesCards {
    grid-template-columns: repeat(3, minmax(0, 1fr)); // Equivalent to md:grid-cols-3
  }
}

.MessengerServicesContent {
  background-color: #ffffff; // Equivalent to bg-white
  padding: 0 2.5rem;
  border-radius: 1.5rem; // Equivalent to rounded-lg
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); // Equivalent to shadow-md
  text-align: center;
}

.MessengerServicesIcon {
  font-size: 3rem;
  color: #2b6cb0;
  margin: 2rem 0 1rem 0;
}

.MessengerServicesDes {
  font-size: 1.5rem; // Equivalent to text-lg
  font-weight: 700; // Equivalent to font-semibold
  color: #1b436e;
  line-height: 1.9rem;
  margin-bottom: 2rem; // Equivalent to text-zinc-800
}

