
/* Remote IT Header */
.remote-support-section {
  background-color: #f5f5f5; /* bg-zinc-100 */
  text-align: center;
  padding-top: 8rem;
}
  
  .section-title {
    font-size: 3.2rem; /* text-3xl */
    font-weight: 700; /* font-bold */
    margin-bottom: 1rem; /* mb-4 */
    color: #333; /* text-zinc-900 */
  }
  
  .feature-container {
    display: flex; /* flex */
    justify-content: center; /* justify-center */
    gap: 3rem; /* space-x-8 */
  }
  
  .remote-support-feature {
    display: flex; /* flex */
    align-items: center; /* items-center */
    gap: 1rem; /* space-x-2 */

  }
  
  .remote-support-icon {
    color: #2b6cb0;
    font-size: 1.3rem; 
  }
  
.feature-text {
  color: #333; /* text-zinc-700 */
  font-size: 1.2rem;
  font-weight: 500;
}

/*Remote IT Pricing*/

.it-pricing-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1.3rem; 
  padding: 1.5rem; 
  background-color: #f5f5f5;
}


.it-pricing-card {
  background-color: #ffffff;
  width: 609.5px;
}

.it-pricing-card-header {
  background-color: #1b436e; /* bg-zinc-900 */
  color: #ffffff; /* text-white */
  padding: 1rem; /* p-6 */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.it-pricing-img {
  margin-bottom: 1rem; /* mb-4 */
  height: 6rem;
}

.it-pricing-title {
  font-size: 1.6rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  color: #ffffff;
}

.it-pricing-des {
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 0.5;
}

.it-pricing-card-content {
  padding: 1rem; /* p-6 */
}

.it-pricing-price-container {
  text-align: center;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.it-pricing-price {
  font-size: 4rem; /* text-4xl */
  font-weight: 800;
  padding-top: 1rem; /* font-bold */
  color: #333;
}

.it-price-dollar {
  font-size: 1rem; /* text-xl */
  font-weight: 700; /* font-bold */
  color: #333; /* text-zinc-800 */
}

.it-pricing-sub {
  color: #6b7280; /* text-zinc-500 */
  
}

.it-pricing-feature-list {
  margin: 3rem auto 1.7rem auto;
}

.it-pricing-feature-item {
  display: flex;
  align-items: center; 
  font-size: 0.9rem;
  color: #2b6cb0
}

.it-pricing-icon {
  margin-right: 1rem; /* mr-2 */
  color: #2b6cb0; /* text-blue-500 */
  font-size: 1.1rem;
}

.it-pricing-divider {
  width: 83%;
  border: 1.4px solid #d7d9dd;
  margin: 0.8rem auto; 
}
.it-pricing-text-center {
  text-align: center;
}

.it-pricing-button {
  background-color: #2b6cb0; /* bg-blue-500 */
  border: #2b6cb0;
  color: #ffffff; /* text-white */
  padding: 0.7rem 1.5rem; /* px-4 py-2 */
  border-radius: 1rem; /* rounded-lg */
  transition: 0.3s ease-in-out;
}

.it-pricing-button:hover {
  background-color: #1b436e; /* bg-blue-500 */
  border: #1b436e;
  color: #ffffff; /* text-white */
}

.it-pricing-sub-text {
  font-size: 0.8rem;
  color: #6b7280; /* text-zinc-500 */
  padding-top: 0.8rem;
}

/*3 easy steps*/

.easy-steps-container {
  width: 1280px; /* max-w-7xl */
  margin: 4rem auto; /* mx-auto */
  padding: 1.5rem 4rem; /* p-6 */
}

.easy-steps-title {
  font-size: 1.8rem; /* text-2xl */
  font-weight: 700; /* font-bold */
  color: #1b436e; /* text-blue-800 */
  margin-bottom: 2rem; /* mb-6 */
}

.easy-steps-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* md:grid-cols-3 */
  gap: 1.5rem; /* gap-6 */
}

.easy-step-card {
  background-color: #f9fcff;
  padding: 1.5rem; /* p-6 */
  border-radius: 0.8rem; /* rounded-lg */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); /* shadow-md */
}

.easy-step-card-title {
  font-size: 1rem; /* text-sm */
  font-weight: 500; /* font-semibold */
  color: #6b7280; /* text-zinc-500 */
  margin-bottom: 0.5rem; /* mb-2 */
  line-height: 0.8rem;
}

.easy-step-card-text {
  color: #1b436e; /* text-blue-800 */
  font-size: 1.25rem; /* text-sm */
  font-weight: 500;
}

/*Supported Computers*/

.supporting-computers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 4rem 2rem; /* py-8 */
}

.supporting-computers-title {
  font-size: 1.9rem; 
  font-weight: 600; 
  text-align: center;
  color: #1b436e; 

}

.supporting-computers-logos {
  display: flex;
  gap: 15rem; /* space-x-8 */
  margin-top: 1rem; /* mt-4 */
}

.supporting-computers-logo {
  font-size: 5.5rem;
  color: #1b436e;
}

/*Tech Support*/

.tech-support-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5; /* bg-zinc-100 */
  padding: 3.3rem 6rem; /* p-6 */

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.tech-support-image {
  width: 100%;
  max-width: 670px; /* md:max-w-md */
 
}

.tech-support-content {
  width: 50%;
  margin-left: 5rem; /* md:ml-6 */
  text-align: left; /* md:text-left */
}

.tech-support-title {
  font-size: 1.8rem; /* text-2xl */
  font-weight: 700; /* font-bold */
  color: #1b436e; /* text-zinc-800 */
  line-height: 0.6;
}

.tech-support-subtitle {
  font-size: 1.49rem;
  font-weight: 500;
  color: #1b436e; /* text-zinc-600 */

}

.tech-support-text {
  margin-top: 1.3rem;
  color: #333; 

}

.tech-support-text-sm {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333; 
}

.tech-support-button {
  background-color: #2b6cb0; /* bg-blue-500 */
  border: #2b6cb0;
  color: #ffffff; /* text-white */
  padding: 0.7rem 1.5rem; /* px-4 py-2 */
  border-radius: 1rem; /* rounded-lg */
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #1b436e; /* bg-blue-500 */
    border: #1b436e;
    color: #ffffff; /* text-white */
  }
}


/*FAQ*/

.remote-it-faq__subtitle-bottom {
  font-size: 1.9rem; /* text-2xl */
  font-weight: 600; /* font-bold */
  color: #1b436e; /* text-blue-800 */
  margin-bottom: 1rem; /* mb-6 */
  text-align: center;
}

.remote-it-faq__container {
  padding-top: 6rem;
}

.remote-it-faq__dropdown {
  position: relative;
  display: none;
  background-color: #fff;
  padding: 2px;
  margin: 1.5rem 0 0 1rem;
  width: 95%;
}

.remote-it-faq__dropdown-open {
  display: block;
}

.remote-it-faq__icon {
  padding: 0 1rem;
}

.remote-it-faq__cursor-pointer {
  cursor: pointer;
  list-style: none;
  font-weight: 600;
  font-size: 16.5px;
  padding: 11px 0;
  border-bottom: 1px solid #d1d1d1;
  width: 59.6%;
  margin: 0 auto;
}

.remote-it-faq__dropdown-text {
  font-size: 16px;
  line-height: 2rem;
  margin: 10px 0 20px 0;
  font-weight: 400;
}




/*RemoteITHome*/

.remote-it-home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 2rem 6rem 2rem; /* py-8 */
}

.remote-it-home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2.6px solid #333; /* border-zinc-300 */
  border-radius: 1.4rem; /* rounded-lg */
  padding: 2rem; /* p-8 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
  width: 62.5%; /* max-w-md */
  height: 280px;
  text-align: center;
}

.remote-it-home-title {
  font-size: 1.8rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  color: #1b436e; /* text-zinc-800 */
  margin-bottom: 1.5rem; /* mb-6 */
}

.remote-it-home-button {
  background-color: #2b6cb0; /* bg-blue-500 */
  border: #2b6cb0;
  color: #ffffff; /* text-white */
  padding: 0.7rem 1.8rem; /* px-6 py-2 */
  border-radius: 1rem; /* rounded-full */
  transition:  0.3s ease-in-out; /* transition duration-300 */
}

.remote-it-home-button:hover {
  background-color: #1b436e; /* hover:bg-blue-600 */
}

