/* styles.css */
.header-slider-home-page {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(126, 126, 126, 0.37);
  border: 1px solid rgba(126, 126, 126, 0.37);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  position: absolute;
  top: 19.5%;
  padding: 2rem;
}

.header-slider-show-center {
  display: flex;
  justify-content: center;
}

.btns {
  padding-top: 95px;
}

.btns .btn {
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 0 8px 32px 0 rgba(126, 126, 126, 0.37);
  transition: ease-in-out 0.2s;
}

.btns .btn:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

.btns .btn:last-child {
  margin-left: 40px;
}

.header-slider-slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 480px;
  height: 275px;
  margin: 0 auto;
}

.header-slider-slide {
  width: 480px;
  height: 282px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s, visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 20px;
  
}

.header-slider-slideImage {
    position: absolute;
    width: 96%;
    height: 95%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

.header-slider-reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 20px 20px 0 0;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s, visibility 500ms ease 0s;
}

.header-slider-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-slider-sliderContent {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px 20px;
  align-items: flex-start;
  width: 100%;
}

.header-slider-title {
  z-index: 1;
  color: #fff;
  text-align: start;
  font-weight: 600;
  margin-top: 13rem;
  margin-bottom: 0;
  line-height: 1;
}

.header-slider-des {
    z-index: 1;
    color: #fff;
    text-align: start;
  }
